@use "@/styles" as s;

.cartButton {
  position: relative;
  display: inline-block;
}

.cartButton__button {
  --btn-w: 55px;
  --btn-h: 55px;
  --btn-radius: 4px;
  position: relative;
}

.cartButton__icon {
  position: absolute;
  inset: 0;
  width: 56%;
  height: 56%;
  margin: auto;
  display: block;
  object-fit: contain;
  pointer-events: none;
}

.cartButton__badge {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: s.$bagraund-main;
  color: s.$text-color-main-highlight;
  font-weight: s.$font-weight-semibold;
  font-size: s.$font-scale-small;
  display: grid;
  place-items: center;
  z-index: 2;
  box-shadow: 7px 7px 25px rgba(126, 130, 143, 0.18);
  filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.05));
  pointer-events: none;
}
