@use "@/styles" as s;

.menu {
  position: relative;
  z-index: 0;
}

.menu::before {
  content: "";
  position: absolute;
  inset: 0 0 auto 0;
  height: 110%;
  background: s.$bagraund-second;
  pointer-events: none;
  z-index: -1;

  clip-path: polygon(
    0 8%,
    100% 0,
    100% 100%,
    0 100%
  );
}

.menu > .container {
  position: relative;
  z-index: 1;
}
