@use "@/styles" as s;

.menu {
  position: relative;
  z-index: 0;
}

.menu {
  @include s.slanted-surface;

  --sl-bg: var(--hero-surface);
}


.menu > .container {
  position: relative;
  z-index: 1;
}
