@use "@/styles" as s;

.orderList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.orderListEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
}
