@use "@/styles" as s;

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
}