@use "@/styles" as s;

.hero {
    position: relative;
    overflow: hidden;
    padding: 56px 0 24px;

    --h: clamp(820px, 56vw, 820px); 
    --c1: 88%;  
    --c2x: 9%; 
    --c3: 2%;  
}


.hero::before {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    height: var(--h);
    background: var(--hero-surface); 
    z-index: 0;
    pointer-events: none;


    clip-path: polygon(
    0 0,          
    100% 0,       
    100% var(--c1),
    var(--c2x) 45%,
    0 var(--c3)
    );
}


.row {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    width: s.$max-width;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;              
}


.right {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.right img {
  width: min(100%, 580px);   
  height: auto;             
  border-radius: 24px;      
  object-fit: cover;       
  transition: transform 0.9s ease;


  &:hover {
    transform: scale(1.07) translateY(-15px);
    
  }
}

.left {
    display: flex;
    justify-content: flex-start; 
    flex-direction: column;
    width: min(100%, 600px);

    .title {
        font-size: s.$h1-size;
        margin-bottom: 0.2em;
    }

    .accent {
    color: s.$text-color-main-highlight;
    } 

    .accent:hover {
        cursor: pointer;
        color: #67dee4;
    }

    .subtitle {
        color: s.$descriptive-text-color;
        font-size: s.$font-scale-large; 
        margin-bottom: 50px;
    }

    .Home_button {
        --btn-w: 193px;
        --btn-h: 60px;
        --btn-radius: 6px;
        position: relative;
    }

    .btnText {
        width: 96%;
        margin: auto;
        position: absolute;
        font-size: s.$font-scale-large;
        color: s.$bagraund-main;
    }


    
.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px; 
  line-height: s.$line-height-base;


  .star {
    color: #00b67a;
    font-size: s.$font-scale-large; 
    margin-right: 6px;
  }

  .trust {
    font-weight: s.$font-weight-bold; 
  }


.rating_description {
    display: inline-block;
    vertical-align: middle;
  }

  .score {
    font-size: s.$font-scale-defult; 
    line-height: s.$line-height-little;

    .highlight {
      color: s.$text-color-main-highlight;
      font-weight: s.$font-weight-semibold;
    }
  }
}
    
}