@use "@/styles" as s;

.dessert {
  display: inline-flex;
  position: relative;
  padding: 24px 59px;        
  border: 1px solid #61728333; 
  border-radius: 6px;   
  font-size: s.$font-scale-defult;
  font-weight: s.$font-weight-regular;
  line-height: 1;
  transition: border-color .15s ease, box-shadow .15s ease, background .15s ease;

  &:hover {
    border-color: none;
    outline: none;;
  }
}

.btnText {
    position: absolute;
    width: 96%;
    margin: auto;
    color: s.$main-text-color; 

}