$max-width: 1200px;


$text-color-main-highlight: #35B8BE;
$bagraund-color-main-highlight: #35B8BE;
$bagraund-main: #ffffff;
$bagraund-second: #f5fbfc;
$descriptive-text-color: #546285;
$main-text-color: #ffffff;