$font-main: 'Inter', sans-serif;

$font-size-base: 16px;



$font-scale-small: 0.813rem;  
$font-scale-medium: 0.938rem;     
$font-scale-defult: 1rem;     
$font-scale-large: 1.125rem;   
$font-scale-xlarge: 3.75rem;  


$h1-size: 3.75rem;  
$h2-size: 2rem;    
$h3-size: 1.5rem;   


$line-height-base: 2.3;
$line-height-little: 0.4;
$line-height-medium: 1.6;


$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
