@use "@/styles" as s;

.menuCard {
  display: grid;
  grid-template-columns: 196px 1fr;
  gap: 14px;
  padding: 14px;
  background: var(--bg-main);
  border-radius: 10px;
  box-shadow: 0 8px 24px var(--shadow-card);
}

.menuCardImage {
  border-radius: 4px;
}

.menuCardBody {
  display: grid;
}

.menuCardHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 10px;
}

.menuCardTitle {
  font-weight: s.$font-weight-regular;
}

.menuCardPrice {
  color: s.$text-color-main-highlight;
  font-weight: s.$font-weight-regular;
  font-size: s.$font-scale-defult;

  span {
    font-size: 11px;
    opacity: 0.7;
    margin-left: 4px;
  }
}

.menuCardDesc {
  line-height: s.$line-height-pre-medium;
  color: s.$descriptive-text-color;
  font-size: s.$font-scale-defult;
  font-weight: s.$font-weight-regular;
}

.menuCardActions {
  display: flex;
  align-items: center;
  gap: 8px;
}
