@use "@/styles" as s;


.loginBackground {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  overflow: hidden;  
  z-index: 0; 
}

.loginBackground {
  @include s.slanted-surface;
  --sl-bg: var(--hero-surface);
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: min(90%, 26.25rem);
  padding: 2rem 2.5rem; 
  background: var(--bg-main);
  border-radius: 0.5rem;
  box-shadow: 0 0.288rem 2.25rem var(--shadow-card);
  border: 1px solid var(--accent);   
  position: relative;                
  z-index: 2;                        
}

.loginFormTitle {
  text-align: center;
  font-size: s.$h3-size;
  font-weight: s.$font-weight-bold;
  margin-bottom: 2rem;
  color: s.$text-color-main-highlight;
}

.loginFormField {
  margin-bottom: 1.4rem;
}

.loginFormLabel {
  display: block;
  font-size: s.$font-size-base;
  font-weight: s.$font-weight-medium;
  margin-bottom: 0.4rem;
  color: var(--text-second);
}

.loginFormInput {
  width: 100%;
  padding: 0.625rem 0.75rem;
  border: 1px solid #cfd8dc;
  border-radius: 0.375rem;
  font-size: s.$font-size-base;
  background: var(--bg-second);
  color: var(--text-main);

  &:hover {
    border-color: s.$text-color-main-highlight;
    outline: none;

  }
}

.loginFormActions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.btnBase {
  padding: 0.6rem 1.4rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  font-size: s.$font-size-base;
  font-weight: s.$font-weight-medium;
  transition: 0.2s ease;
}

.loginFormSubmit {
  padding: 0.6rem 1.4rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  font-size: s.$font-size-base;
  font-weight: s.$font-weight-medium;
  transition: 0.2s ease;

  background: s.$text-color-main-highlight;
  color: #ffffff;

  &:hover {
    background: darken(s.$text-color-main-highlight, 8%);
  }
}

.loginFormCancel {
  padding: 0.6rem 1.4rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  font-size: s.$font-size-base;
  font-weight: s.$font-weight-medium;
  transition: 0.2s ease;

  background: #e0e0e0;
  color: #333333;

  &:hover {
    background: #d5d5d5;
  }
}
