@use "@/styles" as s;

.orderForm {
  display: grid;
  grid-template-columns: 60px 340px;
  gap: 16px;
  align-items: center;
  margin: 20px;
}

.orderFormLabel {
  justify-self: end;
  font-size: s.$font-scale-large;
}

.orderFormInput {
  width: 100%;
  background-color: var(--bg-second);
  height: 40px;
  padding: 0 14px;
  border: 1px solid var(--accent);
  border-radius: 6px;
  outline: none;
  box-shadow: 0 2px 4px var(--accent);
  color: var(--text-main);
}

.orderFormSubmit {
  grid-column: 2 / -1;
  justify-self: center;
  padding: 15px 44px;
  border: none;
  border-radius: 6px;
  background: s.$bagraund-color-main-highlight;
  color: s.$main-text-color;
}
