@use "@/styles" as s;

.orderItem {
  display: flex;
  min-width: 180%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: s.$bagraund-main;
  border-radius: 6px;
  box-shadow: 0 8px 24px #0000002e;
  padding: 14px;
}

.orderItemInfo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.orderItemImage {
  margin: 7px;
}

.orderItemActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.orderItemPrice {
  color: s.$text-color-main-highlight;
}

.orderItemRemove {
  background-color: s.$bagraund-color-main-highlight;
  border: none;
  border-radius: 6px;
  padding: 0.7em 1.3em;
  color: s.$main-text-color;
  transition: transform 0.5s ease;
}
