.big {
  --btn-w: 55px;
  --btn-h: 55px;
  --btn-radius: 4px;
  position: relative;

  .cart {
    position: absolute;
    inset: 0;
    width: 56%;
    height: 56%;
    margin: auto;
    display: block;
    object-fit: contain;
    filter: none;
    pointer-events: none;
  }
}

.cartWrap {
  position: relative;
  display: inline-block;
}

.cartWrap::after {
  content: "0";
  position: absolute;
  top: -6px;
  right: -6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  color: rgba(53, 184, 190, 1);
  font-weight: 600;
  font-size: 14px;
  display: grid;
  place-items: center;
  z-index: 2;
  box-shadow: 7px 7px 25px rgba(126, 130, 143, 0.18);
  filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.05));
  pointer-events: none;
}



.header {
  padding-block: 16px;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 60px;
  }

  .header_menu {
    display: flex;
    justify-content: end;
    gap: 80px;
    max-width: 477px;
  }

  .navigation {
    display: flex;
    font-size: 15px;
    gap: 20px;
    max-width: 408px;
    padding-block: 14px;

    .link {
      color: rgba(40, 34, 75, 1);
      text-decoration: none;
      transition: color 0.5s;

      &:hover {
        color: rgba(40, 34, 75, 0.408);
        cursor: pointer;
      }

      &.active {
        color: rgba(53, 184, 190, 1);

        &:hover {
          color: rgba(53, 183, 190, 0.478);
        }
      }
    }
  }
}
