@use "@/styles" as s;


.header {
  padding-block: 16px;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_menu {
    display: flex;
    justify-content: end;
    gap: 80px;
  }

  .navigation {
    display: flex;
    font-size: s.$font-scale-medium;
    gap: 20px;
    padding-block: 14px;

    .link {
      color: #28224b;
      text-decoration: none;
      transition: color 0.5s;

      &:hover {
        color: #28224b68;
        cursor: pointer;
      }

      &.active {
        color: s.$text-color-main-highlight;

        &:hover {
          color: #35b7be7a;
        }
      }
    }
  }
}
