@use "@/styles" as s;

.header {
  padding-block: 16px;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerMenu {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.headerNav {
  display: flex;
  font-size: s.$font-scale-medium;
  gap: 20px;
  padding-block: 14px;
  padding: 20px;
}

.headerLink {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.5s;

  &:hover {
    color: var(--link-color-after);
    cursor: pointer;
  }
}

.headerLinkActive {
  color: s.$text-color-main-highlight;

  &:hover {
    color: #35b7be7a;
  }
}

.headerThemeBtn {
  color: white;
  width: auto;
  background: var(--accent);
  border-radius: 4px;
  border-color: var(--accent);
  width: 55px;
  height: 55px;
  font-size: 25px;

  &:hover {
  filter: var(--icon-hover-filter, hue-rotate(2deg) saturate(1.2) brightness(1.1));
  cursor: pointer;
  }
}

.label {
  mix-blend-mode: lighten;
}

