@use "@/styles" as s;

.uiInput {
  flex: 0 1 50px;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: var(--bg-second);
  color: var(--text-main);
  font-size: s.$font-scale-defult;
  outline: none;
  min-width: 0;
}

.uiInput:hover {
  border-color: var(--accent);
}
