@use "@/styles" as s;

.footer {
  position: relative;
  padding: 78px 0 68px;
  background: var(--hero-surface);
}

.footerBg {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background-image: var(--footer-bg);
  background-repeat: no-repeat;
  background-size: s.$max-width auto;
  background-position: right 150px bottom -50px;
}

.footerTop {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 2.2fr 2.3fr;
  gap: 80px;
  align-items: start;
}

.footerBrand {
  display: grid;
  gap: 12px;
}

.footerDesc {
  color: var(--link-color);
  line-height: s.$line-height-medium;
  max-width: 28ch;
  font-size: s.$font-scale-defult;
  font-weight: s.$font-weight-regular;
}

.footerCols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 6px;
}

.footerCol {
  display: flex;
  flex-direction: column;
  gap: 10px;

  nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  a {
    color: var(--link-color);
    text-decoration: none;
    font-size: s.$font-scale-medium;
    line-height: 1.7;
    transition: color 0.2s ease;
    font-weight: s.$font-weight-regular;

    &:hover {
      color: var(--link-color-after);
    }
  }
}

.footerColTitle {
  font-size: s.$font-scale-small;
  letter-spacing: 0.12em;
  font-weight: s.$font-weight-regular;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.footerBottom {
  position: relative;
  z-index: 1;
  margin-top: 96px;
  padding-top: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    height: 1px;
    background: #7E828F17;
  }
}

.footerCopy {
  color: var(--link-color);
  font-size: s.$font-scale-medium;

  a {
    color: s.$text-color-main-highlight;
    text-decoration: none;
  }
}

.footerSocial {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--social-btns);
    border: 1.5px solid #00000014;
    text-decoration: none;
    transition: all 0.25s ease;

    img {
      width: 22px;
      height: 22px;
      opacity: 0.75;
      transition: opacity 0.25s ease, transform 0.25s ease;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 20px var(--shadow-card);

      img {
        opacity: 1;
        transform: scale(1.08);
      }
    }
  }
}
