@use "@/styles" as s;

.orderSummaryTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: s.$font-scale-xlarge;
  font-weight: s.$font-weight-regular;
  color: #3a3c3b;
  margin: 30px;
}
